<html>
<head>
	<script type="text/javascript" src="/static/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="/static/app.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
	<div>
		<p><img src="/static/seer.png" height="200"/></p>
		<p><span><b>Choose a Model and a Dataset</b></span></p>

		<p><span class="small">The SeeR system will run a live simulation of the model and dataset you choose!<br /></span></p>

		<form>

			<span class="small">Model: </span>
			<select id="model">
				{% for name in model_names %}
				<option value="{{name[1]}}">{{name[0]}}</option>
				{% endfor %}
			</select>


			<span class="small">Dataset: </span>
			<select id="dataset">
				{% for name in dataset_names %}
				<option value="{{name[1]}}">{{name[0]}}</option>
				{% endfor %}
			</select>
			
			<br />
			<button type='button' onclick="sendRequest()">Simulate</button>

		</form>

		<p><span id="message"></span></p>
		<div id="chart-container"><canvas id="myChart"></canvas></div>

	</div>

</body>
</html>