<html>
<head>
<script>
function sendRequest(){
	model = document.getElementById("model").value
	dataset = document.getElementById("dataset").value
	var http = new XMLHttpRequest();
	var url = "/predict";
	dict = {'model': model, 'dataset': dataset}
	var params = JSON.stringify(dict);
	http.open("POST", url, true);

	//Send the proper header information along with the request
	http.setRequestHeader("Content-type", "application/json");
	message = document.getElementById("message")
	message.innerText = "Running packet simulation..."
	http.onreadystatechange = function() {//Call a function when the state changes.
	    if(http.readyState == 4 && http.status == 200) {
	    	console.log(http.response);
	    	message.innerText = "";
	        alert("Simulation complete!")
	    }
	}
	http.send(params);
}
</script>

<style>
	body {background:black; font-size: 65px; color: white; font-family: 'Helvetica'; padding-top:30px;}
	span {font-size:30px;}
	button {float:center; margin-top: 30px; font-size: 35px; background: black; color: white; border: 1px solid white; padding: 8px 15px;}
	div { text-align: center;  margin-left: auto; margin-right: auto;}
	button:hover {background: white; color: black;}
	.small {font-size:16px;}
	p {margin-bottom: 20px;}
</style>

</head>

<body><div><p>
	<img src="/static/seer.png" height="200"/></p><p>
	<span><b>Choose a Model and a Dataset</b></span></p>

	<p><span class="small">The SeeR system will run a live simulation of the model and dataset you choose!<br /></span></p>

	<form>

		<span class="small">Model: </span>
		<select id="model">
			{% for name in model_names %}
			<option value="{{name[1]}}">{{name[0]}}</option>
			{% endfor %}
		</select>


		<span class="small">Dataset: </span>
		<select id="dataset">
			{% for name in dataset_names %}
			<option value="{{name[1]}}">{{name[0]}}</option>
			{% endfor %}
		</select>
		
		<br />
		<a href="#"><button onclick="sendRequest()">Simulate</button></a>

	</form>



<p><span id="message"></span></p>

</div>

</body>
</html>