{% extends "base.html" %}

  SeeR is leveraging the power of machine learning to secure the new
  generation of autonomous vehicles. 

  {% block content %}
    <div id="autohub-landing" class="row">
      <div class="col-12 col-centered">
        <div class="autohub-content">
           <h1 class="autohub-large">
            SeeR is leveraging the power of machine 
            learning to secure the new generation of autonomous vehicles. 
            </h1>
        </div>
      </div>
    </div>
  {% endblock %}