<!DOCTYPE html>

<html>
  <head>
    {% block head %}
      <title>AutoHub - Your One-Stop Shop for Vehicular Needs</title>
      <meta charset="utf-8">
      <meta name="description" content="Welcome to AutoHub" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/seer-style.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome/css/fontawesome-all.min.css') }}">
    {% endblock %}
  </head>

  <body>

    <!-- Content Starts Here -->

    <div class="wrapper container-fluid">

      {% block header %}
        <div id="autohub-header" class="row">
          <div class="col-8 my-auto text-left">
              <a href="/">
                <img id="seer-top-logo" src="https://camo.githubusercontent.com/1996c96372329e353e59c741b595e948f318a2c6/68747470733a2f2f692e696d6775722e636f6d2f6d58334f424e562e706e67"/>
              </a>
          </div>

          <div class="col-4 my-auto text-right">
              <a href="/">
                <i id="seer-icon" class="mt-1 p-1 fas fa-search fa-lg"></i>
              </a>
              <a href="/">
                <i id="seer-icon" class="mt-1 p-1 fas fa-home fa-lg"></i>
              </a>
          </div>
      </div>
      {% endblock %}

      {% block content %}
      {% endblock %}

      <div id="autohub-footer" class="row justify-content-center">
        {% block footer %}
        {% endblock %}
        <div class="navbar navbar-fixed-bottom">
          <p class="p-2 text-center seer-copyright">
              &copy; Copyright 2018 by <a href="/about">SeeR</a>
          </p>
        </div>
      </div>
     

    </div>

  </body>
</html>
