{% extends "base.html" %}

    {% block content %}
        <div id="autohub-landing" class="row">
           <div class="container-fluid text-left">
              <div class="py-5 row text-left">
               <h1 class="autohub-large">
                Welcome to AutoHub
                </h1>
              </div>

              <div class="row text-left">
                <p class="autohub-txt ">
                  Your one-stop shop for all your automotive needs.
                </p>
              </div>
          </div>
        </div>
    {% endblock %}